@import "../../../../variables";

.container {
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
  padding: 15px;
  background-color: $color-primary;
}

// template 1 styling
.main-document {
  width: 595px;
  height: 892px;
  background-color: white;
  padding: 20px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  &-image {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
  }

  &-name {
    text-transform: uppercase;
    border: 1px solid black;
    padding: 5px;
    font-size: $font-print-title;
    margin-left: 20px;
    font-weight: 700;
  }
}

.personal {
  display: flex;
  justify-content: center;
  font-size: $font-print-general;
  margin-top: 10px; // subject to change

  &-title {
    text-transform: uppercase;
  }

  &-about {
    width: 50%;
    text-align: right;
    padding-right: 20px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: black;

    & > p {
      margin: 0;
      width: 90%;
      float: right;
    }
  }

  &-contact {
    width: 50%;
    text-align: left;
    margin-left: 20px;

    & > p {
      margin: 3px;
      width: 90%;
    }
  }
}

.expertise {
  display: flex;
  justify-content: center;
  font-size: $font-print-general;
  margin-top: 10px; // subject to change

  &-title {
    text-transform: uppercase;
  }

  &-experience {
    width: 50%;
    text-align: right;
    padding-right: 20px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: black;

    &_company {
      margin-bottom: 10px;

      &--duration,
      &--name {
        font-weight: 700;
      }
    }

    & > div > p {
      margin: 3px;
      width: 90%;
      float: right;
    }
  }

  &-education {
    width: 50%;
    text-align: left;
    margin-left: 20px;

    & > p {
      margin: 3px;
      width: 90%;
    }
  }

  &-postgraduation,
  &-graduation {
    margin-bottom: 10px;

    & > p {
      margin: 0;
      margin-top: 5px;
      width: 90%;
    }
  }

  &-session,
  &-college {
    font-weight: 700;
  }
}

.accessories {
  display: flex;
  justify-content: center;
  font-size: $font-print-general;
  margin-top: 10px; // subject to change

  &-title {
    text-transform: uppercase;
  }

  &-skill {
    width: 50%;
    text-align: right;
    padding-right: 20px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: black;

    & > p {
      margin: 0;
      margin-bottom: 5px;
      width: 90%;
      float: right;
    }
  }

  &-highlights {
    width: 50%;
    text-align: left;
    margin-left: 20px;

    & > p {
      margin: 0;
      margin-bottom: 5px;
      width: 90%;
    }
  }
}


.section-image {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}