@import '../../../variables';

.contact {
    &-container {
        width: 100%;
        height: 100vh;
    }

    &-header {
        height: 25%;
        background-color: rgba($color-primary, 0.8);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &_title {
            margin: 0;
        }

        &_caption {
            margin: 0;
            font-size: $font-general;
            margin-top: 1%;
        }
    }

    &-details {
        height: 75%;
        background-color: $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;

        &_group {

        }

        &_item {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            &--image-main {
                padding: 15px;
                border-radius: 50%;
                background: $color-primary;
                z-index: 3;
            }

            &--image {
                width: 40px;
                height: 40px;
            }

            &--email, &--call {
                color: $color-primary;
                width: 100%;
                padding: 10px 15px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px; 
                margin-left: -8px;
                z-index: 1;
            }
        }
    }
}

// mobile responsive styling
@media screen and (max-width: 620px) {
    .contact {
        &-header{
            &_title {
                font-size: $font-mobile-secondary;
            }

            &_caption {
                font-size: $font-mobile-general;
                width: 80%;
            }
        }

        &-details {
            &_item {
                &--email, &--call {
                    font-size: $font-mobile-general;
                }

                &--image {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}