@import '../../../variables';

.contact {
    &-container {
        width: 100%;
        height: 100vh;
    }

    &-header {
        height: 25%;
        background-color: rgba($color-primary, 0.8);
    }

    &-details {
        height: 75%;
        background-color: $color-primary;
    }
}