@import "../../../variables";

.nav {
  &-container {
    height: 100vh;
    background-color: $color-secondary;
    position: relative;
    z-index: 30;
  }

  &-link {
    bottom: 0px;
    position: absolute;
    width: 100%;

    &-item {
      width: 100%;

      &--active {
        background-color: $color-primary;  
        
        &_img {
          display: block;
          margin: 0 auto;
          width: 40px;
          height: 40px;
          padding: 30px 0px;
          fill: $color-secondary;

          & > g > path {
            fill: $color-secondary!important;
          }
        }
      }

      &:hover > &_img > g > path {
        fill: $color-secondary!important;
      }

      &:hover > &_img {
        fill: $color-secondary!important;
      }

      &:hover {
        background-color: $color-primary;
      }

      &--logo {
        text-align: center;
        font-weight: bold;
        color: $color-primary;
        font-size: $font-primary;
        padding: 30px 0px;
      }

      &_img {
        display: block;
        margin: 0 auto;
        width: 40px;
        height: 40px;
        padding: 30px 0px;
        fill: $color-primary;

        & > g > path {
          fill: $color-primary!important;
        }
      }
    }
  }
}
