@import "../../../variables";

.home {
  &-container {
    display: flex;
  }

  &_json {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 10;
  }

  &--jsonedit {
    width: 50px;
    height: 50px;
    fill: white;
    cursor: pointer;
    transition: 0.2s all;

    &:hover {
      width: 70px;
      height: 70px;
    }
  }

  &-detail {
    background-color: $color-primary;
    width: 50%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    &_name {
      text-align: right;
      font-size: $font-general;

      &--first,
      &--last {
        margin: 0;
        font-size: $font-primary;
      }
    }

    &_title,
    &_description {
      text-align: right;
      width: 70%;
      float: right;
      margin: 3px 0;
    }

    &_title {
      opacity: 0.6;
      font-size: $font-secondary;
    }

    &_social {
      margin-top: 20px;
      margin-right: 10px;

      &--img {
        width: 40px;
        margin-left: 10px;
        height: 40px;
      }
    }
  }

  &-face {
    width: 50%;
    height: 100vh;

    &_image {
      height: 100%;
      padding-top: 10vh;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }
}

.color {
  &-picker {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 10;
    display: flex;
  }

  &-item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px inset $color-primary;
    margin-bottom: 10px;
    margin-left: 10px;
    cursor: pointer;
  }

  &-item:hover {
    opacity: 0.6;
  }
}

// mobile responsive styling
@media screen and (max-width: 620px) {
  .home {
    &-container {
    }

    &-detail {
      width: 100%;

      &_name {
        font-size: $font-mobile-general;
        text-align: center;

        &--first,
        &--last {
          font-size: $font-mobile-primary;
        }
      }

      &_title,
      &_description {
        text-align: center;
        float: none;
        display: block;
        margin: 5px auto;
      }

      &_social {
        display: block;
        margin: 5px auto;

        &--img {
          width: 30px;
          height: 30px;
        }
      }
    }

    &-face {
      width: 0%;
    }
  }
}
