@import '../../../variables';

.projects {
    &-container {
        display: flex;
        width: 100%;
        height: 100vh;
    }

    &-main {
        width: 60%;
        background-color: rgba($color-primary, 0.8);
    }

    &-publications {
        width: 40%;
        background-color: $color-primary;
    }
}