@import "../../../variables";

.download-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background: white;
  border: 2px solid $color-primary;
  fill: $color-primary;
  padding: 10px;
  cursor: pointer;
  border-radius: 30%;
  transition: 0.2s all;
}

.template {
  &-container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: scroll;
  }

  &-form {
    background-color: white;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    transition: all 1s;
  }
}

// mobile responsive styling
@media screen and (max-width: 620px) {
    .download-btn {
        width: 20px;
        height: 20px;
    }
}