// theme colors
$color-primary: #333;

// font size
$font-primary: 40px;
$font-secondary: 20px;
$font-general: 18px;

// font size (mobile)
$font-mobile-primary: 30px;
$font-mobile-secondary: 16px;
$font-mobile-general: 14px;

// pdf printing fonts
$font-print-general: 12px;
$font-print-title: 15px;
$font-print-headline: 25px;