.app {
  &-sidenav {
    display: none;
  }
}

// mobile/tablet responsive styling
@media screen and (max-width: 991px) {
  .app {
    &-sidenav {
        display: block;
        z-index: 350;
        position: fixed;
        bottom: 15px;
        left: 15px;
        z-index: 450;
        height: 40px;
        width: 40px;
        background-color: white;
        border-radius: 50%;
        border: 1px solid black;
        padding: 10px;
    }
  }
}
