@font-face {
  font-family: "Consolas";
  src: url('./app/assets/fonts/consolas.ttf');
}

body {
  margin: 0;
  font-family: Consolas;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
