.jsonedit {
    &-container {
        height: 100vh;
        width: 100%;
        overflow-y: scroll;
        display: flex;
    }

    &_section {
        width: 60%;
        height: 100%;
        overflow-y: scroll;
    }

    &_form {
        width: 40%;
        height: 100%;
        overflow-y: scroll;

        &_container {
            width: 90%;
            display: block;
            margin: 0 auto;
            text-align: center;
        }

        &--title {
            font-weight: bold;
            padding: 10px 0;
        }
    }
}

.jsoneditor {
    border: none!important;
}